# Data Cleaning

## Objectives
* Remove any irrelevant features
* Remove any invalid values
* Remove or impute any null values
* Remove any duplicate rows
* Make sure all the data types are correct

## Tools Used
* Pickle
* Numpy
* Pandas

#### Import Libraries

In [2]:
# Import necessary libraries
import pickle
import numpy as np
import pandas as pd

## Pickle & Pandas: Load Dataframe

In [9]:
# Load dataframe and preview it
pickle_in = open("creditcard.pickle", "rb")
df = pickle.load(pickle_in)
pickle_in.close()

# print info
print(df.info())

# display head
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Remove any irrelevant features

There are no irrelevant features known to me at this time.

## Remove any invalid values

To be clear I am not looking for outliers at this stage, just inappropiate values that might be caused by errors in data entry. Typically these will be extemely high or low values. I will check for these now by looking at each columns minimum and maximum values. This should be enough to check for invalid values since all the columns are numeric.

In [13]:
# display minimum and maximum values for each column
df.describe().loc[["min", "max"], :]

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
min,0.0,-56.40751,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.00,0.0
max,172792.0,2.45493,22.057729,9.382558,16.875344,34.801666,73.301626,120.589494,20.007208,15.594995,...,27.202839,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.16,1.0

The amount column has values equal to zero. To investigate this I will look at how much of it is zeros and I will check the next minimum number.

In [18]:
# deturmine how much of the amount column is occupied by zeros

# slice dataframe to only have rows with amount equal to zero
# Then take the length of that slice and divide it by length of dataframe
# Round result and multiply by 100 and add in a string to display results
"Amount column is " + str(round(len(df[df.Amount == 0])/len(df), 4) *100) +"% zeros"

'Amount column is 0.64% zeros'

Zeros make up less than 1% of the rows in the Amount column.

In [21]:
# find the second minimum number in amount

# Slice dataframe to only have rows where amount does not equal zero
# find the minimum value in amount
df[df.Amount != 0].Amount.min()

0.01

The next minimum number after zero is 0.01. There appears to be no data entry errors.

## Remove or impute any null values

Now I will check how many null values are in the dataframe

In [22]:
# Find the count of null values in the dataframe
df.isna().sum().sum()

0

There are no null values.

## Remove any duplicate rows

First I will check for duplicate values.

In [23]:
# count duplicate values
df.duplicated().sum()

1081

There are 1081 duplicate values, now I will drop them.

In [25]:
# drop duplicates
df = df.drop_duplicates()

# double check
df.duplicated().sum()

0

## Make sure all the data types are correct

Now I will check the dataframe's data types.

In [23]:
# Check dataframe's data types
df.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

I would normally change the time feature to datetime format, but that does not seem practical here. All the datatypes are correct.

##### Save data

In [27]:
pickle_out = open("clean_data.pickle", "wb")
pickle.dump(df, pickle_out)
pickle_out.close()